* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --main-radius: 5px;
  --main-radius: 5px;
}

body {
  background-image: url(https://wallpaperaccess.com/full/2187.jpg);
  background-attachment: fixed;
}

.nav {
  font-family: "Inter", sans-serif;
  font-weight: 800;
  position: absolute;
  width: 260px;
  height: 100%;
  left: -260px;
  background: rgb(36, 15, 15);
  z-index: 9999;
  transition: 0.3s all ease;
  /* padding-bottom: 600px; */
}

/* .menu {
    list-style-type: none;
} */

.menu-item {
  color: #fff;
  text-decoration: none;
  font-size: 30px;
  display: block;
  transition: all 0.3s ease-out;
  font-size: 1.4rem;
  border-bottom: 1px solid #333;
  padding: 1.2rem;
  text-transform: uppercase;
  transition: 0.3s all ease;
}

.menu-item:hover {
  background: #51968a;
  cursor: pointer;
}

nav li {
  margin-left: 20px;
  text-decoration: none;
  list-style: none;
}

.open {
  left: 0px;
}

/* hamburger icon */
.hamburger {
  position: absolute;
  top: 10px;
  right: -50px;
}

.hamburger:hover {
  cursor: pointer;
}

.hamburger span {
  display: block;
  background: #222;
  margin: 6px 0;
  height: 6px;
  width: 36px;
  border-radius: 2px;
  position: relative;
  transition: 0.3s;
}

.change.first-bar {
  top: 11px;
  transform: rotate(45deg);
}

.change.second-bar {
  opacity: 0;
}

.change.third-bar {
  bottom: 13px;
  transform: rotate(-45deg);
}

/* Main Content */

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1.5fr 1.2fr 1.2fr 2fr;
  grid-template-areas:
    "main main main"
    "learn-more learn-more learn-more"
    "content1 content2 content3"
    "content4 content5 content6"
    "belts belts belts"
    "signup signup signup"
    "footer footer footer";
  font-family: "Inter", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 12px;
  color: #004d40;
  text-align: center;
  grid-gap: 20px;
  margin-top: 20px;
  padding: 0 10px;
}

/* .container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1.5fr 1.2fr 1.2fr 2fr;
    grid-template-areas:
    "sidebar main main main"
    "sidebar learn-more learn-more learn-more"
    "sidebar content1 content2 content3"
    "sidebar content4 content5 content6"
    "footer footer footer footer";
    font-family:"Inter", sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 12px;
    color: #004d40;
    text-align: center;
    grid-gap: 20px;
    margin-top: 20px;
    padding: 0 10px;
} */

main {
  /* background: #84ffff; */
  grid-area: main;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  display: grid;
  /* grid-template-columns: 1fr 4fr 1fr;
      grid-rows: 1fr 1fr 1fr; */
  /* grid-template-areas:
      "belt desc h3" */
}

.main-inner {
  display: grid;
  /* background: rgb(112, 66, 23); */
  height: 100vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "left right";
  line-height: 3;
  position: relative;
}

.main-inner-left {
  grid-area: left;
  /* background: rgb(16, 16, 44); */
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* display: inline-block; */
  justify-content: center;
  align-items: center;
  /* float: left; */
  margin: auto;
}

.main-inner-right {
  grid-area: right;
  background: rgb(80, 12, 12);
  height: 100vh;
}

.main-inner h1 {
  font-size: 2.8rem;
  margin: 0;
}

.main-inner h2 {
  font-size: 1.6rem;
}

.main-inner h3 {
  font-size: 0.8rem;
}

.main-inner button {
  background-color: #3949ab;
  color: #fff;
  text-decoration: none;
  padding: 12px 20px;
  /* margin-top: 3rem; */
  border-radius: 8px;
  margin-top: 50px;
}

.shift {
  margin-left: 260px;
}

.open {
  left: 0px;
}

.hamburger {
  position: absolute;
  top: 10px;
}

/* learn-more  */

.learn-more {
  background-color: rgb(63, 14, 14);
  opacity: 1;
  grid-area: learn-more;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  display: flex;
  padding: 60px 45px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.learn-more-inner h1 {
  /* font-weight: normal; */
  font-size: 3rem;
  margin: 0;
}

.learn-more-inner p {
  font-size: 1.18rem;
  line-height: 1.6;
}

.learn-more button {
  background-color: #3949ab;
  color: #fff;
  text-decoration: none;
  padding: 12px 20px;
  border-radius: 8px;
  /* display: inline-block; */
}

.contents {
  background-color: red;
  padding: 100px 20px;
  /* margin: 20px; */
  /* color: blue; */
}

.contents-inner {
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  display: flex;
  flex-direction: column;
  height: 200px;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  /* flex-basis: 50%;; */
  margin-top: 100px;
}

.contents h3 {
  color: #283593;
  font-size: 2rem;
}

.contents h4 {
  margin: 0;
  line-height: 1.6;
  color: #333;
  font-size: 0.8rem;
}

.contents button {
  background-color: #3949ab;
  color: #fff;
  text-decoration: none;
  padding: 12px 20px;
  /* margin-top: 3rem; */
  border-radius: 8px;
}

#content1 {
  background: #6fffd2;
  grid-area: content1;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  display: flex;
}

#content2 {
  background: #64ffda;
  grid-area: content2;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

#content3 {
  background: #73ffba;
  grid-area: content3;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

#content4 {
  background: #6fffd2;
  grid-area: content4;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

#content5 {
  background: #64ffda;
  grid-area: content5;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

#content6 {
  background: #73ffba;
  grid-area: content6;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

.belt-system {
  background: #84ffff;
  grid-area: belts;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  display: grid;
}

.belt-system-inner {
  margin: 20px;
}

.belt-system-inner > h1 {
  font-size: 40px;
  text-decoration: underline;
  background-color: red;
  margin: 0;
  padding: 0;
}

.belts {
  padding: 0px 45px;
  background-color: #00124d;
}

.belts > div {
  display: flex;
  align-items: center;
  justify-items: center;
  background-color: rgb(61, 23, 23);
  font-size: 20px;
  padding-left: 30px;
  padding-right: 30px;
}

p.desc {
  /* display:flex; */
  align-items: flex-end;
  /* flex-basis: 5px; */
  /* background-color: rgb(63, 55, 39); */
  font-size: 20px;
  /* grid-area: desc; */
  text-align: justify;
  margin: 0px 20px;
  word-spacing: 20px;
  line-height: 30px;
  padding: 30px 40px;
  text-align: center;
}

.white-belt h2:hover {
  color: white;
  transform: rotate(-16deg);
  transition: all 1s ease-out;
}

.blue-belt h2:hover {
  color: blue;
  transform: rotate(-16deg);
  transition: all 1s ease-out;
}

.purple-belt h2:hover {
  color: purple;
  transform: rotate(-16deg);
  transition: all 1s ease-out;
}

.brown-belt h2:hover {
  color: brown;
  transform: rotate(-16deg);
  transition: all 1s ease-out;
}

.black-belt h2:hover {
  color: black;
  transform: rotate(-16deg);
  transition: all 1s ease-out;
}

/* Sign-up form */

.signup-form {
  grid-area: signup;
  background-color: rgb(63, 14, 14);
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  /* display: flex; */
  padding: 60px 45px;
  /* justify-content: center; */
  /* flex-direction: column; */
  /* align-items: center; */
  top: 50%;
  /* transform: translateY(50%); */
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "signup-left signup-right";
  position: sticky;
}

.signup-form h1 {
  font-size: 2rem;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.signup-form-left {
  grid-area: signup-left;
}

.signup-form-right {
  grid-area: signup-right;
  background-color: rgb(16, 16, 41);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

.signup-form-left-inner {
  max-width: 800px;
  margin: 0 auto;
  background-color: rgb(20, 20, 97, 0.5);
  background-image: url(../images/bjj-lion-3.png);
  background-size: cover;
  /* background-position: top; */
  padding: 30px;
  border-radius: var(--main-radius);
  display: flex;
  flex-direction: row;
  box-shadow: 0 0 10px;
}

.signup-form-right-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 2;
}

.signup-form-right h2 {
  font-size: 2em;
}

.input-fields {
  display: flex;
  flex-direction: column;
  margin-right: 4%;
}

.input-fields,
.msg {
  width: 48%;
}

.input-fields input,
.msg textarea {
  margin: 10px 0;
  /* background: transparent; */
  background: rgba(95, 20, 20, 0.418);
  border: 0;
  border-bottom: 2px solid #c5ecfd;
  padding: 10px;
  color: #cdecfd;
  width: 100%;
}

.msg textarea {
  height: 212px;
}

.msg button {
  background: rgba(95, 20, 20, 0.418);
  text-align: center;
  padding: 15px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
}

/* footer */

footer {
  background: #1de9b6;
  grid-area: footer;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  padding: 20px 0;
  color: #999;
}

@media only screen and (max-width: 550px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 2.2fr 1.2fr 1.2fr 1.2fr 1.2fr 1.2fr 1.2fr 1fr;
    grid-template-areas:
        /* "sidebar" 0.4fr*/
      "main"
      "content1"
      "content2"
      "content3"
      "content4"
      "content5"
      "content6"
      "footer";
  }
  .signup-form {
    flex-direction: column;
  }
  .input-fields,
  .msg {
    width: 100%;
  }
}
